# Byte-compiled / Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# IDE / Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log

# Python packaging
*.egg-info/
dist/
build/
.eggs/

# pytest cache
.pytest_cache/
.coverage

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MyPy / type checking
.mypy_cache/
.dmypy.json



# Other files and directories
test_files
uploads
datasets
unused_datasets